<h1>Crea un usuario</h1>

<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="idusuario" value="1" />
    <label>Nombre</label>
    <input type="text" name="nombre" />
    <label>Email</label>
    <input type="text" name="email" />
    <label>Pass</label>
    <input type="text" name="pass" />
    <label>Imagen</label>
     <input type="file" name="file"/>
    <button>Crear</button>
</form>