
<h1>Crea un nuevo cubo</h1>
<form method="post">
    <input type="hidden" value="1" name="idcubo"
    <label>Nombre</label>
    <input type="text" name="nombre" />
    <label>Marca</label>
        <input type="text" name="marca" />
        <label>Imagen</label>
        <input type="text" name="imagen" />
        <label>Precio   </label>
        <input type="number" name="precio"/>
        <button>Crear</button>
 

</form>