
<form method="post">
    <label>User</label>
    <input type="text" name="username" /> 
    <label>Pass</label>
    <input type="text" name="password" />
    <button>Log in</button>
</form>
<h1>@ViewData["MENSAJE"]</h1>